In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [91]:
wvs = pd.read_csv('Data/WVS_abridged.csv')

In [92]:
wvs = wvs.iloc[:,1:-6]

In [93]:
wvs.head()

,S020,S025,COW_ALPHA,Y001,Y002,Y003,Y010,Y011,Y012,Y013,...,Y021C,Y022A,Y022B,Y022C,Y023A,Y023B,Y023C,Y024A,Y024B,Y024C
0,2018,202018,AND,0.0,1.0,0.0,0.287062,0.38258,0.666667,0.0,...,0.0,0.75,0.66,0.66,0.333333,0.111111,0.444444,0.00,0.0,0.000
1,2018,202018,AND,2.0,3.0,1.0,0.467525,0.22000,1.000000,0.0,...,0.0,0.75,0.66,0.66,0.888889,0.888889,0.888889,1.00,0.0,0.500
2,2018,202018,AND,4.0,2.0,-2.0,0.425304,0.44000,0.886667,0.0,...,1.0,0.75,0.66,0.66,1.000000,0.444444,0.555556,0.33,0.5,0.415
3,2018,202018,AND,2.0,2.0,0.0,0.556170,0.57458,1.000000,0.0,...,0.0,0.75,1.00,1.00,0.555556,0.333333,0.888889,0.33,0.5,0.415
4,2018,202018,AND,1.0,1.0,-1.0,0.458949,0.57458,0.886667,0.0,...,1.0,0.75,0.66,0.66,0.777778,0.444444,0.666667,0.00,0.5,0.250

In [82]:
with open ('columns.txt', 'r') as col_names:
    strings=col_names.read()

In [99]:
col_names = ['S020', 'S025', 'COW_ALPHA']
for string in re.findall('Y[0-9][0-9][0-9]',strings):
    if string not in col_names:
        col_names.append(string)
    elif string + 'A' not in col_names:
        col_names.append(string + 'A')
    elif string + 'B' not in col_names:
        col_names.append(string + 'B')
    elif string + 'C' not in col_names:
        col_names.append(string + 'C')

In [107]:
new_names = ['YEAR', 'YEAR_COUNTRY', 'COUNTRY', 'POSTMAT_IND12', 'POSTMAT_IND4', 'AUTONOMY_IND']
for string in re.findall('[A-Z][A-Z][A-Z]*',strings):
    new_names.append(string)

In [108]:
col_dict = {col_names[i]:new_names[i] for i in range(0,len(col_names))}

In [110]:
wvs.rename(columns = col_dict, inplace=True)

In [3]:
wvs6 = pd.read_sas('Data/WV6_Data_Sas_v20180912.sas7bdat')

In [4]:
wvs5 = pd.read_sas('Data/WV5_Data_Sas_v20180912.sas7bdat')

Warning: column count mismatch (62 + 239 != 414)

In [5]:
wvs4 = pd.read_sas('Data/WV4_Data_Sas_v20180912.sas7bdat')

Warning: column count mismatch (64 + 247 != 432)

In [6]:
wvs3 = pd.read_sas('Data/WV3_Data_Sas_v20180912.sas7bdat')

In [7]:
wvs2 = pd.read_sas('Data/WV2_Data_Sas_v20180912.sas7bdat')

Warning: column count mismatch (235 + 239 != 477)

In [8]:
wvs1 = pd.read_sas('Data/WV1_Data_sas_v20200208.sas7bdat')

In [9]:
wvss = [wvs1, wvs2, wvs3, wvs4, wvs5, wvs6, wvs7]

In [10]:
all_wvs = pd.DataFrame()

In [11]:
"""Cleans the COUNTRY_ISO column in World Value Survey (WVS) wave 1 to create a column with 3-letter 
country code"""
wvs1['COUNTRY'] = wvs1['COUNTRY_ISO'].astype(str).str.replace('b|\'','').str.replace('[A]?RG','ARG')

In [12]:
"""Copy and pasted from the codebooks: COW codes from WSV wave 2 through wave 6 with their respective country names and 
3-letter country codes"""
cow_code_strs = ["70.- MEX Mexico140.- BRA Brazil155.- CHL Chile160.- ARG Argentina225.- SWZ Switzerland230.- SPN Spain290.- POL Poland316.- CZR Czech Republic317.- SLO Slovakia365.- RUS Russia370.- BLR Belarus475.- NIG Nigeria560.- SAF South Africa640.- TUR Turkey710.- CHN China732.- ROK South Korea740.- JPN Japan750.- IND India",
                 "2USA United States of America6PRI Puerto Rico42DOM Dominican Republic70MEX Mexico92SAL El Salvador100COL Colombia101VEN Venezuela135PER Peru140BRA Brazil155CHL Chile160ARG Argentina165URU Uruguay200UKG United Kingdom225SWZ Switzerland230SPN Spain260GFR German Federal Republic265GDR German Democratic Republic290POL Poland310HUN Hungary316CZR Czech Republic317SLO Slovakia339ALB Albania341MNG Montenegro343MAC Macedonia344CRO Croatia345YUG Yugoslavia346BOS Bosnia and Herzegovina349SLV Slovenia355BUL Bulgaria359MLD Moldova360ROM Romania365RUS Russia366EST Estonia367LAT Latvia368LIT Lithuania369UKR Ukraine370BLR Belarus371ARM Armenia372GRG Georgia373AZE Azerbaijan375FIN Finland380SWD Sweden385NOR Norway475NIG Nigeria560SAF South Africa640TUR Turkey710CHN China713TAW Taiwan732ROK South Korea740JPN Japan750IND India770PAK Pakistan771BNG Bangladesh840PHI Philippines900AUL Australia920NEW New Zeala",
                 "2USA United States of America6PRI Puerto Rico20CAN Canada70MEX Mexico101VEN Venezuela135PER Peru155CHL Chile160ARG Argentina230SPN Spain339ALB Albania341MNG Montenegro343MAC Macedonia345YUG Yugoslavia346BOS Bosnia and Herzegovina359MLD Moldova380SWD Sweden475NIG Nigeria500UGA Uganda510TAZ Tanzania552ZIM Zimbabwe560SAF South Africa600MOR Morocco615ALG Algeria630IRN Iran640TUR Turkey645IRQ Iraq651EGY Egypt663JOR Jordan666ISR Israel670SAU Saudi Arabia703KYR Kyrgyzstan710CHN China732ROK South Korea740JPN Japan750IND India770PAK Pakistan771BNG Bangladesh816DRV Vietnam830SIN Singapore840PHI Philippines850INS Indonesi",
                 "2USA United States of America20CAN Canada52TRI Trinidad and Tobago70MEX Mexico90GUA Guatemala100COL Colombia135PER Peru140BRA Brazil155CHL Chile160ARG Argentina165URU Uruguay200UKG United Kingdom210NTH Netherlands220FRN France225SWZ Switzerland230SPN Spain232AND Andorra255GMY Germany290POL Poland310HUN Hungary325ITA Italy345YUG Yugoslavia349SLV Slovenia352CYP Cyprus355BUL Bulgaria359MLD Moldova360ROM Romania365RUS Russia369UKR Ukraine372GRG Georgia375FIN Finland380SWD Sweden385NOR Norway432MLI Mali439BFO Burkina Faso452GHA Ghana517RWA Rwanda530ETH Ethiopia551ZAM Zambia560SAF South Africa600MOR Morocco630IRN Iran640TUR Turkey645IRQ Iraq651EGY Egypt663JOR Jordan710CHN China713TAW Taiwan714HKG Hong Kong732ROK South Korea740JPN Japan750IND India800THI Thailand816DRV Vietnam820MAL Malasia850INS Indonesia900AUL Australia920NEW New Zealand",
                 "2USA United States of America41HAI Haiti52TRI Trinidad and Tobago70MEX Mexico100COL Colombia130ECU Ecuador135PER Peru140BRA Brazil155CHL Chile160ARG Argentina165URU Uruguay210NTH Netherlands230SPN Spain255GMY Germany290POL Poland349SLV Slovenia352CYP Cyprus360ROM Romania365RUS Russia366EST Estonia369UKR Ukraine370BLR Belarus371ARM Armenia372GRG Georgia373AZE Azerbaijan380SWD Sweden452GHA Ghana475NIG Nigeria517RWA Rwanda552ZIM Zimbabwe560SAF South Africa600MOR Morocco615ALG Algeria616TUN Tunisia620LIB Libya640TUR Turkey645IRQ Iraq651EGY Egypt660LEB Lebanon663JOR Jordan667PSE Palestine679YEM Yemen690KUW Kuwait692BAH Bahrain694QAT Qatar703KYR Kyrgyzstan704UZB Uzbekistan705KZK Kazakhstan710CHN China713TAW Taiwan714HKG Hong Kong732ROK South Korea740JPN Japan750IND India770PAK Pakistan800THI Thailand820MAL Malasia830SIN Singapore840PHI Philippines900AUL Australia920NEW New Zeala"]

In [20]:
"""Creates a COUNTRY column containing 3-letter country codes in WVS wave 7"""
wvs7['COUNTRY'] = wvs7['B_COUNTRY_ALPHA'].astype(str).str.replace("b|'","")

In [21]:
"""Creates a COUNTRY column in each WVS wave 2 through 6 containing its 3-letter code"""
#iterates through each string and each WVS in waves 2 through 6
for string,df in zip(cow_code_strs,wvss[1:6]):
    #creates a list of extracted COW codes from the string
    cow_codes = re.findall('[0-9]+', string)
    #creates a list of extracted 3-letter codes from the string
    alpha_codes = re.findall('[A-Z][A-Z][A-Z]', string)
    #dictionary comprehension with cow_codes as the key and alpha_codes as the value
    cow_dict = {cow_codes[i]: alpha_codes[i] for i in range(len(cow_codes))}
    #creates the COUNTRY column by mapping the COW column in each wave with the cow_dict created from its string
    df['COUNTRY'] = df['COW'].astype(int).astype(str).map(cow_dict)

In [22]:
"""Creates a COUNTRY column concatenating all the COUNTRY columns from all waves"""
all_wvs['COUNTRY'] = pd.concat([df['COUNTRY'] for df in wvss])

In [46]:
"""Cleans the COUNTRY column of duplicate countries with different codes"""
all_wvs['COUNTRY'] = all_wvs['COUNTRY'].str.replace('ZIM','ZWE').str.replace('ZAF','SAF').str.replace('THI','THA').str.replace('TAW','TWN').str.replace('SWE','SWD').str.replace('ROU','ROM').str.replace('ROK','KOR').str.replace('PHL','PHI').str.replace('AUS','AUL').str.replace('NEW','NZL').str.replace('NGA','NIG').str.replace('BGD','BNG').str.replace('GUA','GTM').str.replace('DEU|GFR|GDR','GMY').str.replace('DRV','VNM').str.replace('IDN','INS').str.replace('KGZ','KYR').str.replace('KAZ','KZK').str.replace('LEB','LBN').str.replace('MAL','MYS')

In [48]:
"""Creates a YEAR column in every WVS wave from the respective year column indicated in codebooks"""
year_cols=['A_YEAR','V262','V260','V246','V238','V377','V237'][::-1]

for df, col in zip(wvss,year_cols):
    df['YEAR'] = df[col].astype(int)

In [49]:
"""Concatenates all the YEAR columns and adds to all_wvs"""
all_wvs['YEAR'] = pd.concat([df['YEAR'] for df in wvss])

In [68]:
"""Creates a YEAR_COUNTRY column that contains both pieces of data to use as an index"""
all_wvs['YEAR_COUNTRY'] = all_wvs['YEAR'].astype(str) + "_" + all_wvs['COUNTRY']

In [70]:
"""Creates an empty Y001 column for WVS wave 1"""
wvs1['Y001'] = np.nan

In [65]:
"""Concatenates all Post-material 12-item index columns and adds to all_wvs"""
all_wvs['POST-MAT_IND'] = pd.concat([df['Y001'] for df in wvss]).fillna(-5).astype(int)

In [57]:
"""Concatenates all Autonomy index columns and adds to all_wvs"""
all_wvs['AUTONOMY_IND'] = pd.concat([df['Y003'] for df in wvss])

In [66]:
all_wvs['POST-MAT_IND'].value_counts()

 2    114147
 1     89842
 3     79296
-2     41490
 0     40952
 4     27953
-5     18586
 5      6859
Name: POST-MAT_IND, dtype: int64

In [19]:
wvs7['INT_DATE'] = pd.to_datetime(wvs7['J_INTDATE'], format = '%Y%m%d')

In [20]:
wvs7 = wvs7.drop(columns=['B_COUNTRY_ALPHA', 'A_YEAR', 'J_INTDATE'])

In [25]:
wvs7.groupby('COUNTRY')['Y001'].value_counts()

COUNTRY  Y001
AND      2.0     331
         1.0     206
         4.0     179
         3.0     127
         5.0      92
                ...
ZWE      1.0     330
         3.0     240
         0.0     179
         4.0      55
         5.0       5
Name: Y001, Length: 280, dtype: int64